header{
  height: 70px;
  @include DisplayFlex;
  align-items: center;
  padding: 0 15%;
  background-color: rgba(0, 0, 0, 0.6);
  ul {
    flex-direction: row;
    display: inherit;
    width: 100%;
  }
  li {
    &:not(:first-child) {
      margin-left: 15px;
    }
    > a {
      color: rgba(250,250,250, 0.6);
    }
  }
}